# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled File
a.out

# Pre compile
*.gch

# OMake cache data
.omakedb
.omakedb.lock
*.omc
